<template>
  <div class="banners">
    <v-container fill-height>
      <v-container bg grid-list-md text-xs-center>
        <v-layout row wrap align-center>
          <v-flex xs12>
            <span class="display-3">Choose the banners</span>
          </v-flex>

          <v-flex xs12 md3 >
            <v-btn large flat outline block class="elevation-5">
              <v-icon left large>web</v-icon>
             <span> Standard HTML5 Banner </span>
            </v-btn>
          </v-flex>
          <v-flex xs12 md3 >
            <v-btn large flat outline block class="elevation-5">
              <v-icon left large>movie</v-icon>
              <span>Rich Media Banner</span>
            </v-btn>
          </v-flex>
          <v-flex xs12 md3 >
            <v-btn large flat outline block class="elevation-5">
              <v-icon left large>recent_actors</v-icon>
              <span>Animated GIF Banner</span>
            </v-btn>
          </v-flex>
          <v-flex xs12 md3 >
            <v-btn large flat outline block class="elevation-5">
              <v-icon left large>perm_media</v-icon>
              <span>Static GIF/JPG/PNG</span>
            </v-btn>
          </v-flex>
        </v-layout>
      </v-container>
    </v-container>
  </div>
</template>

<style lang="scss" scoped>
.banners {
  height: 100%;
}
</style>
