<template>
  <div class="starter">
    <v-container class="mt-5">
      <v-layout text-xs-center wrap>
        <v-flex xs12 class="mb-3">
          <v-img :src="require('../assets/bullseye.svg')" class="my-3 hidden-md-and-down" contain height="200"></v-img>
          <v-img :src="require('../assets/bullseye.svg')" class="my-3 hidden-lg-and-up hidden-sm-and-down" contain height="150"></v-img>
          <v-img :src="require('../assets/bullseye.svg')" class="my-3 hidden-md-and-up" contain height="100"></v-img>
        </v-flex>
        <v-flex class="mx-5 mb-2">
          <P class="white--text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio placeat molestias explicabo ipsam incidunt quas commodi, similique pariatur blanditiis odit, magnam alias temporibus aperiam. Dignissimos accusamus vel velit nobis hic?</P>
        </v-flex>
      </v-layout>
    </v-container>
    <v-container class="my-5">
      <v-layout text-xs-center>
        <v-flex xs12>
          <v-btn round large class="white red--text" route to="/banners">
            <span>Let's start</span>
            <v-icon right>arrow_forward</v-icon>
          </v-btn>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
