<template>
  <v-container red >
    <v-layout text-xs-center wrap>
      <v-flex xs12>
        <v-img :src="require('../assets/bullseye.svg')" class="my-3" contain height="200"></v-img>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<style>
</style>
