<template>
  <v-app class="app">
    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: "App",
  data() {
    return {
      //
    };
  }
};
</script>

<style lang="scss" scoped>
.app {
  background-color: #e83f44;
}
</style>
